<div class="navigation headroom headroom--top">
  <div style="text-align: center; vertical-align: middle">
    Welcome {{ employeeName }}

    <div style="align-content: flex-end; text-align: end; ">
      <label (click)="logout()"  style="
      color: white; text-decoration: none;cursor: pointer; " tabindex="0">
        <!-- <span
          style="
            color: white;
            font: normal normal 600 13px/19px Poppins !important; 
          "
          >Logout</span
        > -->
        Logout
      </label>
    </div>
  </div>
</div>
