<br/>
<br/>

<div class="container">
    <div>
        Answer the below Secret Questions       
    </div>

    <br/>

<form [formGroup]="qaForm" (ngSubmit)="onSubmit()">

    <div formArrayName="answers">

        <div *ngFor="let answer of answers.controls; let i=index">
            <div [formGroupName]="i">
         
            <div style="visibility: visible; width: 300px;"> {{i+1}}. {{questions[i].question}}</div>
            <input type="password" formControlName="answer" />
            <!-- <div *ngIf="f.submitted && familysong.errors" class="invalid-feedback">
                <div *ngIf="familysong.errors['required']">familysong is required</div>
              </div> -->
            </div>
            <br/>
        </div>
    </div>
    <div *ngIf="iswronganswer">

        Please check the answers you have entered

    </div>



    <p>
    <button type="submit" >Submit</button>
  </p>
</form>



</div>
